package components

templ Base(body templ.Component) {
	<!DOCTYPE html>
	<html lang="en" class="bg-white h-full">
		<head>
			<script src="/static/htmx.min.js" defer></script>
		</head>
		<body
			class="h-full"
			id="body"
		>
			@body
		</body>
	</html>
}

templ Index(name string) {
	<div>Hello, { name }!</div>
}
