
templ Index(name string) {
	<div>
		<button hx-get="/name/" hx-target="#name" hx-swap="outerHTML">Change Name</button>
		<a href="/">Refresh with htmx</a>
	</div>
}





















































































































